/* 基本のスタイル */
@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

/* 共通コンテンツ幅 */
.wrapper {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
    height: 14vh;
}

h1.site-title {
    width: 10%;
    height: 10vh;
    margin: 40px 50px;
    background-image: url(../img/logo-r.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

h1.site-title-nav {
    width: 20%;
    height: 10vh;
    background-image: url(../img/logo-w.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: -30%;
}

/* site-titleを非表示にするクラス */
.site-title.hidden {
    display: none;
}

.hamburger {
    width: 10%;
}

/* ハンバーガーメニュー */
.hamburger-inner {
    position: relative;
    background-color: #FF2A2A;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.hamburger-button {
    width: 50%;
    height: 35%;
    position: absolute;
    top: 30%;
    right: 25%;
    z-index: 100;
}

.hamburger-bar {
    display: block;
    width: 100%;
    height: 7%;
    position: absolute;
    left: 0;
    background: #FFFFFF;
    transition: top 0.24s, transform 0.24s, opacity 0.24s;
}

.hamburger-bar:nth-child(1) {
    top: 0;
}

.hamburger-bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-bar:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
}

/* バツの位置を修正 */
.hamburger-bar.is_active:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    /* 45度回転 */
}

.hamburger-bar.is_active:nth-child(2) {
    opacity: 0;
    /* 中央のバーを消す */
}

.hamburger-bar.is_active:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    /* -45度回転 */
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #a0a0a0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.24s;
    pointer-events: none;
}

.nav.is_active {
    opacity: 1;
    background-color: #FF2A2A;
    color: #FFFFFF;
}

.nav-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin-top: 22%;
    font-size: 2.5rem;
    position: relative;
}

li.nav-item:last-child {
    position: absolute;
    width: 170%;
    top: 60%;
    left: -30%;
    display: inline-block;
    padding: 10%;
    /* ボタンの背景色 */
    color: #ffffff;
    /* 文字の色 */
    text-decoration: none;
    border: 1px solid #ffffff;
    /* ボタンの境界線色 */
    border-style: solid;
}

.section__title {
    margin-bottom: 1%;
}

/* メインビジュアル */

#mainvisual {
    position: relative;
    height: 90vh;
}

.text-group {
    position: absolute;
    top: 280px;
    left: 10%;
    z-index: 10;
}

#mainvisual .text {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 10;
}

#mainvisual .text .title {
    font-size: 2.875rem;
    font-weight: bold;
    margin-bottom: 6%;
    text-shadow: 0 4px 6px #fff;
}

#mainvisual .btn {
    background-color: #FF2A2A;
    border-bottom: 6px solid #9a0413;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    display: block;
    padding: 4% 19%;
    text-align: center;
    transition: 0.3s;
    position: relative;
}

#mainvisual .btn::after {
    content: '';
    width: 20px;
    height: 20px;
    border: 0;
    border-top: solid 4px #FFFFFF;
    border-right: solid 4px #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -84%;
    color: #FFFFFF;
    margin: auto;
}

/* 画像のフェード */
#mainvisual .fade li {
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    /* 最初は3枚の画像を非表示にしておく */
    opacity: 0;
    /* アニメーションを実行
    fade:下で定義している「@keyframes fade」を実行
    15s:「@keyframes fade」の処理を15秒かけて実行
    inifinite:アニメーションの処理を無限に繰り返す
    */
    animation: fade 15s infinite;
}

/* 1枚目の画像のアニメーション実行タイミングを設定 
    「animatation-delay: 0s;」ですぐに実行
    */
#mainvisual .fade li:nth-child(1) {
    animation-delay: 0s;
}

/* 2枚目の画像のアニメーション実行タイミングを設定 
    「animatation-delay: 5s;」ですぐに実行
    */
#mainvisual .fade li:nth-child(2) {
    animation-delay: 5s;
}

/* 3枚目の画像のアニメーション実行タイミングを設定 
    「animatation-delay: 10s;」ですぐに実行
    */
#mainvisual .fade li:nth-child(3) {
    animation-delay: 10s;
}

#mainvisual .fade li img {
    width: 100%;
    height: 720px;
    object-fit: cover;
}

/* 画像のぼかし */
#mainvisual .fade li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 20px 20px #fff;
}

/* アニメーション処理 
・15秒かけて実行
・0%の「opacity:0」で非表示の状態からスタートし
15%になるまで少しづつ画像を表示させる
・30%の時点までは画像を表示させたままの状態を維持し
45%の時点に向けて画像を非表示(フェードアウト)する
そこから100%まで非表示の状態を維持する
*/
@keyframes fade {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.underline {
    width: 6%;
    height: 0.3vh;
    margin: 0 auto;
    background: #333333;
}

.group {
    text-align: center;
    margin-bottom: 5%;
}

/* Reason セクション */
#reason {
    margin-bottom: 12%;
}

#reason .bg {
    background-color: #FF2A2A;
    padding: 80px 0;
}

/* スライド左右共通 */
#reason .slide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5%;
    opacity: 0;
}

#reason .slide img {
    width: auto;
    height: 60px;
    margin-right: 30px;
}

#reason .slide .title {
    color: #ff2a2a;
    display: block;
    font-size: 1.75rem;
    font-weight: bold;
}

#reason .slide .text {
    display: block;
    font-size: 1.125rem;
}

#reason .inview-slide-left {
    /* 右上と右下を角丸にする */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 3%;
}

#reason .inview-slide-right {
    /* 右上と右下を角丸にする */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 3%;
}

/* アニメーション(スライド左)を実行 */
#reason .slide-left {
    animation: slide-left 0.5s ease-out 0s 1 forwards;
}

/* アニメーション(スライド右)を実行 */
#reason .slide-right {
    animation: slide-right 0.5s ease-out 0s 1 forwards;
}

/* アニメーション処理 */

/* 最初は「translateX(-50%)」で左側に隠しておく
100%(0.5秒)かけて要素を表示させながら表示位置へ移動させる
*/
@keyframes slide-left {
    0% {
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    /* 最初は「translateX(150%)」で右側に隠しておく
    100%(0.5秒)かけて要素を表示させながら表示位置へ移動させる
    */
    0% {
        transform: translateX(150%);
    }

    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}

/* レスポンシブ */
    @media screen and (max-width: 900px) {}